@font-face {
  font-family: "Valorant";
  src: url("/Valorant.ttf");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  background: #fa4454;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff2d3e;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #212529;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.hero {
  font-family: "Valorant";
  width: 100%;
  background-image: url("images/L10_Sillos_Final.jpg");
  height: 100vh;
  background-size: cover;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  z-index: 1;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.hero nav .logo {
  color: white;
  font-size: 36px;
}

.hero nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero nav .nav-links li {
  list-style: none;
}

.hero nav .nav-links li a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 18px;
}

.hero nav .nav-links li a:hover {
  color: #fa4454;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.hero .hero-section-wrapper {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.hero .hero-section-wrapper .hero-tekst {
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 1px;
}

.hero .hero-section-wrapper .hero-tekst h2 {
  font-size: 52px;
}

.hero .hero-section-wrapper .hero-tekst p {
  font-size: 20px;
  padding: 20px 0;
  padding-bottom: 40px;
}

.hero .hero-section-wrapper .hero-tekst .hero-btn {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border: 1.5px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.hero .hero-section-wrapper .hero-tekst .hero-btn:hover {
  background-color: #fa4454;
  border: 1.5px solid #fa4454;
}

.hero .hero-section-wrapper .hero-api-logo img {
  max-width: 100%;
  width: 350px;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}

#root-agents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#root-agents .agents-header {
  font-family: "Valorant";
  margin-top: 50px;
  color: white;
  letter-spacing: 1px;
  font-size: 48px;
}

#root-agents .agents-header-divider {
  width: 30%;
  border: none;
  height: 5px;
  background-color: #fa4454;
  color: #fa4454;
  margin-bottom: 80px;
}

#root-agents .agents-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 25px;
}

@media (max-width: 1500px) {
  #root-agents .agents-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  #root-agents .agents-card-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#root-agents .agents-card-container .agent-card {
  width: 400px;
  font-family: "Valorant";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #fa4454;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 22px 0px black;
          box-shadow: 3px 3px 22px 0px black;
  background-color: #1f1f1f;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

#root-agents .agents-card-container .agent-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#root-agents .agents-card-container .agent-card .agent-card-icon {
  max-width: 100%;
  position: absolute;
  top: 5%;
  right: 5%;
  width: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 16px 0px #fa4454;
          box-shadow: 3px 3px 16px 0px #fa4454;
}

#root-agents .agents-card-container .agent-card .agent-card-image {
  max-width: 100%;
  width: 300px;
}

#root-agents .agents-card-container .agent-card .card-agent-name {
  text-align: center;
  color: #fa4454;
  font-size: 36px;
  padding: 10px 0;
  text-shadow: 2px 2px 10px #8d2727;
}

#root-agents .agents-card-container .agent-card .card-agent-description {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin: 0 auto;
  text-shadow: 2px 2px 10px black;
}

#root-weapons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

#root-weapons .weapons-header {
  font-family: "Valorant";
  color: white;
  letter-spacing: 1px;
  font-size: 48px;
}

#root-weapons .weapons-header-divider {
  width: 30%;
  border: none;
  height: 5px;
  background-color: #fa4454;
  color: #fa4454;
  margin-bottom: 80px;
}

#root-weapons .weapons-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 25px;
}

#root-weapons .weapons-card-container .weapon-link {
  text-decoration: none;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card {
  width: 400px;
  font-family: "Valorant";
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 3px solid #fa4454;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 3px 3px 22px 0px black;
          box-shadow: 3px 3px 22px 0px black;
  background-color: #1f1f1f;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
  height: 500px;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#root-weapons .weapons-card-container .weapon-link .weapon-card .red {
  color: #fd4556;
  font-weight: bold;
  letter-spacing: 1px;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-card-name {
  color: #fa4454;
  font-size: 42px;
  padding: 10px 0;
  text-shadow: 2px 2px 10px #8d2727;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-category {
  text-shadow: 2px 2px 10px #fa4454;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-cost,
#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-firerate,
#root-weapons .weapons-card-container .weapon-link .weapon-card .first-bullet-accuracy,
#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-magazinesize,
#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-reloadtime {
  font-family: "Roboto", sans-serif;
}

#root-weapons .weapons-card-container .weapon-link .weapon-card .weapon-card-image {
  max-width: 100%;
  width: 300px;
}
/*# sourceMappingURL=style.css.map */